[submodule "php-ext/igbinary"]
	path = php-ext/igbinary
	url = git://github.com/igbinary/igbinary.git
[submodule "php-ext/xdebug"]
	path = php-ext/xdebug
	url = git://github.com/xdebug/xdebug.git
[submodule "php-ext/uri-template"]
	path = php-ext/uri-template
	url = git://github.com/ioseb/uri-template.git
[submodule "php-ext/apc"]
	path = php-ext/apc
	url = git://github.com/nickl-/pecl-apc.git
[submodule "php-ext/memcached"]
	path = php-ext/memcached
	url = git://github.com/php-memcached-dev/php-memcached.git
